# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.claude
.agents
.vscode
.env
.agents
.temp/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & caches (including modules)
build/
**/build/
.gradle/
**/.gradle/
.cxx/
**/.cxx/
local.properties
**/local.properties
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.apk
*.aab
*.aar

# IDE & Editor
.idea/
*.iml

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android

